<!---
<ul>
    <li><a routerLink='/home'>Home</a></li>
    <li><a routerLink='/login'>Login</a></li>
    <li><a href="/rawdata">Raw Data</a></li>
    <li><a href="about.asp">About</a></li>
</ul> 
-->

<mat-toolbar color="primary">
  
    <div class="toolbar-spacer"></div>
  
    <a mat-button [routerLink]="['home']">Query</a>
    <a mat-button [routerLink]="['rawdata']">RawData</a>
  
    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  
</mat-toolbar>
  <div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>
<router-outlet></router-outlet>