

<mat-toolbar color="primary">
    <div class="toolbar-spacer"></div>

    <form>
      <label *ngIf="loginDisplay">UserID: </label>
      <input type="text" name="userID" (change)="formChanged()" *ngIf="loginDisplay">
      <button type="button" mat-raised-button *ngIf="loginDisplay" (click)="query_user()">Query</button>
    </form>
    <div></div>

   
    <button type="button" mat-raised-button color="warn" *ngIf="!loginDisplay" (click)="login()">Login</button>
  
</mat-toolbar>
  <div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>
<router-outlet></router-outlet>